//variables
$dark: black;
$gray: lightslategray;
$light: white;
$pink: magenta;
$font-large: "Sofia", cursive;
$font-small: "Nunito", sans-serif;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes name-animation {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes webdev {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background: rgb(236, 199, 250);
  background: linear-gradient(
    90deg,
    rgba(236, 199, 250, 1) 58%,
    rgba(233, 148, 230, 1) 100%
  );
}
.navbar-custom {
  background-color: $dark !important;
}

.navbar-custom a:hover {
  color: magenta !important;
}

p {
  font-weight: bold;
  font-family: "Padauk", sans-serif;
}

.background-img {
  background-image: url("./images/violetsky.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  min-height: 190px;
  

  .intro {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  h1 {
    font-family: $font-large;
    color: $light;
    font-size: 15vw;
    animation-name: name-animation;
    animation-duration: 2s;
  }
  .webdev {
    animation-name: webdev;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }
}

hr {
  border: dotted $gray 8px !important;
  border-bottom: none !important;
  background-color: transparent !important;
  margin: 100px auto !important;
}
h2 {
  color: $pink;
}

.profile {
  max-width: 300px !important;
  border: 8px solid $pink !important;
}

// about me skills

.programming {
  width: 25%;
  float: left;
}
.ux-design {
  width: 25%;
  float: right;
  padding-left: 0px;
  padding-right: 0px;
}

//Codepen projects

//contact me

.btn {
  background: #ff75fa;
  background-image: -webkit-linear-gradient(top, #ff75fa, #e262c8);
  background-image: -moz-linear-gradient(top, #ff75fa, #e262c8);
  background-image: -ms-linear-gradient(top, #ff75fa, #e262c8);
  background-image: -o-linear-gradient(top, #ff75fa, #e262c8);
  background-image: linear-gradient(to bottom, #ff75fa, #e262c8);
  -webkit-border-radius: 30;
  -moz-border-radius: 35;
  border-radius: 35px;
  font-family: Arial;
  color: $light !important;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fa3c91;
  background-image: -webkit-linear-gradient(top, #fa3c91, #eda5e5);
  background-image: -moz-linear-gradient(top, #fa3c91, #eda5e5);
  background-image: -ms-linear-gradient(top, #fa3c91, #eda5e5);
  background-image: -o-linear-gradient(top, #fa3c91, #eda5e5);
  background-image: linear-gradient(to bottom, #fa3c91, #eda5e5);
  text-decoration: none;
}
// footer

footer {
  p,
  small {
    font-weight: bold;
  }

  hr {
    width: 75%;
  }
  .icons {
    i {
      font-size: 30px;
    }
    .fa-linkedin {
      color: rgb(42, 109, 235);
    }
    .fa-github {
      color: $pink;
    }
    .fa-instagram {
      color: $pink;
    }
    .fa-codepen {
      color: $dark;
    }
  }
  .copy {
    height: 50px;
    width: 100%;
    background-color: $dark;
    color: $light;
  }
}

#myBtn {
  position: sticky;
  bottom: 50px;
  right: 10em;
  place-self: end;
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: $light;
  background: $dark;
  border-radius: 100px;
  white-space: nowrap;
  z-index: 5;
  outline: none;
  margin: 10px;
}

//media querys

@media screen and (min-width: 800px) {
  .codepen-space {
    display: flex !important;
    justify-content: space-between !important;

    .child-space {
      width: 600px !important;
    }
  }
}

@media screen and (min-width: 200px) {
  .codepen-space {
    display: block;
    .child-space {
      width: 600px !important;
    }
  }
}
