* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes name-animation {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes name-animation {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes webdev {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes webdev {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  background: rgb(236, 199, 250);
  background: linear-gradient(90deg, rgb(236, 199, 250) 58%, rgb(233, 148, 230) 100%);
}

.navbar-custom {
  background-color: black !important;
}

.navbar a:hover {
  color: magenta !important;
}

p {
  font-weight: bold;
  font-family: "Padauk", sans-serif;
}

.background-img {
  background-image: url("./images/violetsky.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 30vw;
  width: 100%;
  filter: alpha(Opacity=90);
  opacity: 0.8;
}
.background-img .intro {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.background-img h1 {
  font-family: "Sofia", cursive;
  color: white;
  font-size: 15vw;
  -webkit-animation-name: name-animation;
          animation-name: name-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.background-img .webdev {
  -webkit-animation-name: webdev;
          animation-name: webdev;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

hr {
  border: dotted lightslategray 8px !important;
  border-bottom: none !important;
  background-color: transparent !important;
  margin: 100px auto !important;
}

h2 {
  color: magenta;
}

.profile {
  max-width: 300px !important;
  border: 8px solid magenta !important;
}

.programming {
  width: 25%;
  float: left;
}

.ux-design {
  width: 25%;
  float: right;
  padding-left: 0px;
  padding-right: 0px;
}

.btn {
  background: #ff75fa;
  background-image: linear-gradient(to bottom, #ff75fa, #e262c8);
  border-radius: 35px;
  font-family: Arial;
  color: white !important;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fa3c91;
  background-image: linear-gradient(to bottom, #fa3c91, #eda5e5);
  text-decoration: none;
}

footer p,
footer small {
  font-weight: bold;
}
footer hr {
  width: 75%;
}
footer .icons i {
  font-size: 30px;
}
footer .icons .fa-linkedin {
  color: rgb(42, 109, 235);
}
footer .icons .fa-github {
  color: magenta;
}
footer .icons .fa-instagram {
  color: magenta;
}
footer .icons .fa-codepen {
  color: black;
}
footer .copy {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
}

#myBtn {
  position: -webkit-sticky;
  position: sticky;
  bottom: 50px;
  right: 10em;
  place-self: end;
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: white;
  background: black;
  border-radius: 100px;
  white-space: nowrap;
  z-index: 5;
  outline: none;
  margin: 10px;
}

@media screen and (min-width: 800px) {
  .codepen-space {
    display: flex !important;
    justify-content: space-between !important;
  }
  .codepen-space .child-space {
    width: 600px !important;
  }
}
@media screen and (min-width: 200px) {
  .codepen-space {
    display: block;
  }
  .codepen-space .child-space {
    width: 600px !important;
  }
}/*# sourceMappingURL=style.css.map */